$footer-size: 120px;
$header-size: 80px;
$content-width: min(1200px, 90vw);

body
{
    min-height: 100vh;
}

header
{
    width: 100%;
    background-color: $color-inverted-background;
    border-bottom: $color-highlight solid 5px;

    height: $header-size;

    nav
    {
        height: 100%;
    }

    ul
    {
        height: 100%;
        width: $content-width;
        margin: 0 auto;
        list-style: none;
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        gap: 40px;

        a, div
        {
                background-color: $color-background;
                border-bottom: $color-highlight solid 3px;
                border-radius: 5px;
                height: 40px;
                padding: 10px 10px;

                text-decoration: none;
                color: $color-header;
                font-size: 1.2rem;
                font-weight: bold;
                font-family: sans-serif;

                &:link
                {
                    text-decoration: none;
                    color: $color-header;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family: sans-serif;
                }
        }
    }
}

main
{
    width: $content-width;
    margin: 0 auto;

    // margin-bottom: $footer-size + 50px;
}

#footer-padding
{
    display: block;
    width: 100%;
    height: $footer-size + 50px;
}

footer
{
    border-top: $color-highlight solid 5px;

    background-color: $color-inverted-background;
    color: $color-inverted-text;
    
    position: fixed;
    bottom: 0;
    width: 100vw;

    height: $footer-size;

    div
    {
        width: min(1200px, 90vw);
        margin: 0 auto;

        display: flex;

        justify-content: center;
        align-items: center;

        height: 100%;
        
        p
        {
            text-align: center;
        }
    }
}