*[active-role=admin] .role-require:not(.role-admin)
{
    display: none;
}

*[active-role=guest] .role-require:not(.role-guest)
{
    display: none;
}

*[active-role=admin] .role-not-admin
{
    display: none;
}

*[active-role=guest] .role-not-guest
{
    display: none;
}