#posts
{

    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    a
    {
        height: 100%;
        width: 100%;
        display: block;

        padding: 10px;

        &:link
        {
            text-decoration: none;
            color: inherit;
        }

        border: $color-highlight solid 2px;
        background-color: $color-inverted-background;

        h3
        {
            text-align: center;
            color: $color-inverted-header;
        }

        p
        {
            color: $color-inverted-text;
        }
    }
}