$color-background: #f6fff1;
$color-text: #0f3a4b;
$color-header: #8d0535;

$color-highlight: #ff004c;

$color-inverted-background: #0c2200;
$color-inverted-text: #eaf9ff;
$color-inverted-header: #e96668;